<li class="postCard" id="{{_id}}">
    {{#unless isCurrentUserPost}}
    <div>
        <img class="postProfilePic" width="50" height="50"
            src="/static/images/{{#if ownerId.profilePic}}{{ownerId.profilePic}}{{else}}profile.png{{/if}}">
        <a id="postUsername" href="/profile/{{ownerId._id}}">{{ownerId.username}}</a>
    </div>
    {{/unless}}
    <p>{{text}}</p>
    {{#if images}}
    {{#each images}}
    <img width="500px" height="700px" src="/static/images/{{this}}">
    {{/each}}
    {{/if}}
    <div class="postActions">
        <p>{{likesCount}}</p>
        {{#if isLiked}}
        <a href="javascript:void(0)">Liked</a>
        {{else}}
        {{#unless isCurrentUserPost}}
        <a href="javascript:void(0)">Like</a>
        {{/unless}}
        {{/if}}
        <a href="javascript:void(0)">Comments</a>
        {{#if isCurrentUserPost}}
        <a href="/profile/deletePost/{{_id}}">Delete</a>
        {{/if}}
    </div>
</li>