<div class="postCard" id="{{_id}}">
    <div>
        <img width="50" height="50"
            src="/static/images/{{#if ownerId.profilePic}}{{ownerId.profilePic}}{{else}}profile.png{{/if}}">
        <p>{{ownerId.username}}</p>
    </div>
    <p>{{text}}</p>
    {{#if images}}
    {{#each images}}
    <img width="500px" height="700px" src="/static/images/{{this}}">
    {{/each}}
    <div class="postActions">
        {{/if}}
        <p>{{likesCount}}</p>
        {{#if isLiked}}
        <p>Liked</p>
        {{else}}
        {{#unless isCurrentUserPost}}
        <a href="javascript:void(0)">Like</a>
        {{/unless}}
        {{/if}}
        <a href="javascript:void(0)">Comments</a>
    </div>
</div>