<li id="{{_id}}">
    <img width="100" height="100" src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}profile.png{{/if}}">
    <h2>{{username}}</h2>
    <p>{{friendsCount}} friends</p>
    {{#if isFriend}}
    <a href="javascript:void(0)">Remove</a>
    {{else}}
    {{#if isRequested}}
    <a href="javascript:void(0)">Accept</a>
    {{else}}
    {{#if isPending}}
    <a href="javascript:void(0)">Remove request</a>
    {{else}}
    <a href="javascript:void(0)">Add</a>
    {{/if}}
    {{/if}}
    {{/if}}
</li>