<li>
    <img width="100" height="100" src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}profile.png" {{/if}}>
    <h2>{{username}}</h2>
    {{#if isFriend}}
    <p>friends</p>
    {{else}}
    <a href="/add-friend/{{_id}}">Add friend</a>
    {{/if}}
    <p>{{friendsCount}} friends</p>
</li>