<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>Trueface</title>
    {{#if isUser}}
    <script src="/static/scripts/main.js" type="module"></script>
    <script type="module">
        import { onMessageSubmit, onMessageKeyUp, onCloseMsgBox } from '/static/scripts/main.js';
        Object.assign(window, { onMessageSubmit, onMessageKeyUp, onCloseMsgBox })
    </script>
    <script src="/socket.io/socket.io.js"></script>
    {{/if}}
</head>
<header>
    <nav id="mainNav">
        <div>
            <a href="/">Trueface</a>
        </div>
        <div id="searchNmenu">
            <ul id="headerUl">
                {{#if isUser}}
                <li>
                    <form id="searchForm" action="/search" method="get">
                        <input type="text" name="search" placeholder="search..." value="{{search}}">
                    </form>
                </li>
                <li><a href="/">home</a></li>
                {{else}}
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
                {{/if}}
            </ul>
        </div>
        {{#if isUser}}
        <div id="profileDrop">
            <a id="chatIcon" href="javascript:void(0)">chat</a>
            <a href="javascript:void(0)">
                <img width="16" height="20" id="profilePic"
                    src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}/profile.png{{/if}}" alt="profilePick">
            </a>
            <div id="dropDown">

            </div>
        </div>
        {{/if}}
    </nav>
</header>

<body>
    {{{body}}}
</body>

</html>