<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>Trueface</title>
    {{#if isUser}}
    <script src="/static/scripts/main.js" type="module"></script>
    <script src="/socket.io/socket.io.js"></script>
    {{/if}}
</head>
<header>
    <nav id="mainNav">
        <div>
            <a class="navIcon" href="/"><img width="120px" src="/static/images/logo/logoType.png"></a>
        </div>
        <div id="searchNmenu" class="{{#if isUser}}menuUser{{else}}menuGuest{{/if}}">
            <ul id="headerUl">
                {{#if isUser}}
                <li>
                    <form id="searchForm" action="/search" method="get">
                        <input type="text" name="search" placeholder="search..." value="{{search}}">
                    </form>
                </li>
                <li>
                    <a class="navIcon" href="/">
                        <svg width="40" height="40">
                            <line x1="6" y1="20" x2="20" y2="5"
                                style="stroke-width:3;stroke:rgba(62, 178, 255, 0.747);"></line>
                            <line x1="20" y1="5" x2="34" y2="20"
                                style="stroke-width:3;stroke:rgba(62, 178, 255, 0.747);"></line>
                            <rect x="10" y="19" width="20" height="15"
                                style="fill:none;stroke-width:3;stroke:rgba(62, 178, 255, 0.747);"></rect>
                        </svg>
                    </a>
                </li>
                {{else}}
                <li><a class="guestNavA" href="/login">login</a></li>
                <li style="margin-left: 20px;"><a class="guestNavA" href="/register">register</a></li>
                {{/if}}
            </ul>
        </div>
        {{#if isUser}}
        <div id="profileDrop">
            <a class="navIcon" id="chatIcon" href="javascript:void(0)">
                <svg width="40" height="40" class="bi bi-chat-dots" viewBox="0 0 16 16" id="IconChangeColor">
                    <path
                        d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                        id="mainIconPathAttribute" fill="rgba(62, 178, 255, 0.747)"></path>
                    <path
                        d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"
                        id="mainIconPathAttribute" fill="rgba(62, 178, 255, 0.747)"></path>
                </svg>
            </a>
            <a class="navIcon" href="javascript:void(0)">
                <img width="16" height="20" id="profilePic"
                    src="/static/images/{{#if userProfilePic}}{{userProfilePic}}{{else}}/profile.png{{/if}}"
                    alt="profilePick">
            </a>
            <div id="dropDown">

            </div>
        </div>
        {{/if}}
    </nav>
</header>

<body>
    {{{body}}}
    <section id="chats">

    </section>
</body>

</html>