<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>Trueface</title>
    {{#if isUser}}
    <script src="/static/scripts/main.js" type="module"></script>
    {{/if}}
</head>
<header>
    <nav id="mainNav">
        <a href="/">Trueface</a>
        <ul>
            {{#if isUser}}
            <li><a href="/">home</a></li>
            <li>
                <form id="searchForm" action="/search" method="get">
                    <label for="search">search</label>
                    <input type="text" placeholder="search..." value="{{search}}">
                </form>
            </li>
            <li><a href="/chat">chat</a></li>
            {{else}}
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
            {{/if}}
        </ul>
        {{#if isUser}}
        <div id="profileDrop">
            <a href="javascript:void(0)">
                <img id="profilePic" src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}/profile.png{{/if}}"
                    alt="profilePick">
            </a>
            <div id="profileDropDown">
                <a href="/profile">profile</a>
                <a href="/profile/settings">settings</a>
                <a href="/logout">logout</a>
            </div>
        </div>
        {{/if}}
    </nav>
</header>

<body>
    {{{body}}}
</body>

</html>