<script src="/static/scripts/profileDetails.js" type="module"></script>

<div class="profileContainer">
    <div id="{{_id}}" class="profileBox">
        <div class="profileTop">
            <div class="profileName">
                <img src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}profile.png{{/if}}">
                <p>{{username}}</p>
            </div>
            <a href="javascript:void(0)">{{#if isFriend}}Remove{{else}} {{#if isRequested}}Undo request{{else}}{{#if
                hasRequested}}Accept{{else}}Request{{/if}}{{/if}} {{/if}}</a>
        </div>
        <div id="profileListOptions" class="profileInfoBox">
            <a id="showFriends" href="javascript:void(0)">Friends</a>
            <a id="showPosts" href="javascript:void(0)">Posts</a>
        </div>
        <ul id="profileList">
            {{#each posts}}
            {{>postCard}}
            {{/each}}
        </ul>
    </div>
</div>