<script src="/static/scripts/profile.js" type="module"></script>

<div class="profileContainer">
    <div id="{{_id}}" class="profileBox">

        <div class="profileTop">
            <div class="profileName">
                <img id="profilePicFromInput"
                    src="/static/images/{{#if profilePic}}{{profilePic}}{{else}}profile.png{{/if}}">
                <p>{{username}}</p>
            </div>
        </div>
        <form action="/profile" method="post" enctype="multipart/form-data">
            <input type="file" id="profilePicInput" name="profilePic"><br>
            <input type="submit" value="{{#if profilePic}}Change{{else}}Upload{{/if}}"><br>
        </form>

        <div id="profileListOptions" class="profileInfoBox">
            <a id="showRequests" href="javascript:void(0)">Friendship requests</a>
            <a id="showFriends" href="javascript:void(0)">Friends</a>
            <a id="showPosts" href="javascript:void(0)">My posts</a>
        </div>
        <ul id="profileList">
            {{#if posts}}
            {{#each posts}}
            {{>postCard}}
            {{/each}}
            {{/if}}
        </ul>
    </div>
</div>